.mainContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 25vh;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 50vh;
}

.title {
  transition: 1s;
  display: inline-block;
  text-align: center;
  font-size: 5vw;
  transform: scaleY(0);
  overflow: hidden;
  width: 100%;
  padding: 0 16px 0 16px;
}