.groupsContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 8%;
  }

  @media only screen and (max-width: 1024px) {
    .groupsContainer {
      width: 50%;
    }
  }
