.mainContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin-top: 25vh;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 50vh;
}

.title {
  transition: 1s;
  display: inline-block;
  text-align: center;
  font-size: 5vw;
  transform: scaleY(0);
  overflow: hidden;
  width: 100%;
  padding: 0 16px 0 16px;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 6vw;
    max-height: 7vw;
  }
}

@media only screen and (max-width: 500px) {
  .mainContainer {
    padding-bottom: 80vh;
  }
}

@media only screen and (max-width: 300px) {
  .title {
    font-size: 7vw;
    max-height: 8vw;
  }
}