.mainContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 25vh 0 10vh 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}