.items,
.textBackground {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.5s;
}

.items {
  margin: 16px;
  width: 8vw;
  min-height: 5vw;
  overflow: hidden;
}

.textBackground {
  height: 4.5vw;
  width: 7.5vw;
  padding: 8px;
}

.itemsText,
.extraText {
  max-height: 95%;
  max-width: 95%;
  display: block;
  position: absolute;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
}

.itemsText {
  font: 700 1.2vw "Poppins", sans-serif;
}

.extraText {
  font: 700 0.8vw "Poppins", sans-serif;
}

@media only screen and (max-width: 900px) {
  .items {
    width: 15vw;
    height: 9vw;
  }

  .textBackground {
    width: 14vw;
    height: 8vw;
  }

  .itemsText {
    font: 700 2.4vw "Poppins", sans-serif;
  }
  .extraText {
    font: 700 1.6vw "Poppins", sans-serif;
  }
}

@media only screen and (max-width: 500px) {
  .items {
    width: 30vw;
    height: 15vw;
  }

  .textBackground {
    width: 28vw;
    height: 13vw;
  }

  .itemsText {
    font: 700 4vw "Poppins", sans-serif;
  }
  .extraText {
    font: 700 3vw "Poppins", sans-serif;
  }
}
