.items {
  flex: 1 1 1rem;
  margin: 18px;
  min-height: 90px;
  min-width: 140px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  transition: 0.5s;
}

.textBackground {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 75px;
  min-width: 135px;
  transition: 0.5s;
}

.itemsText {
    display: block;
    position: relative;
    text-align: center;
    background-clip: text;
      -webkit-background-clip: text;
    font: 700 1.5rem "Poppins", sans-serif;
  }
