.groupsContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    list-style-type: none;
    width: 9%;
  }

  @media only screen and (max-width: 1800px) {
    .groupsContainer {
      width: 6%;
    }
  }

  @media only screen and (max-width: 1600px) {
    .groupsContainer {
      width: 7%;
    }
  }

  @media only screen and (max-width: 1350px) {
    .groupsContainer {
      width: 11%;
    }
  }

  @media only screen and (max-width: 900px) {
    .groupsContainer {
      width: 33.3%;
    }
  }

  @media only screen and (max-width: 500px) {
    .groupsContainer {
      width: 50%;
    }
  }
