.card {
  background-color: transparent;
  width: 30vw;
  height: 20vw;
  perspective: 1000px;
  margin-top: 20vh;
  transition: 0.5s;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.cardFront {
  background-color: #000000;
  color: #ffffff;
  border: 4px solid rgba(255, 255, 255, 1);
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.cardBack {
  color: #ffffff;
  transform: rotateY(180deg);
}

.title,
.text {
  padding: 16px;
  display: inline-block;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.title {
  text-align: center;
  height: auto;
  font-size: 2vw;
}

.text {
  text-align: left;
  height: auto;
  font-size: 1.5vw;
}

@media only screen and (max-width: 1024px) {
  .card {
    margin-top: 5vh;
    width: 70vw;
    height: 50vw;
  }

  .title {
    font-size: 4vw;
  }

  .text {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 5vw;
  }

  .text {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 400px) {

  .title {
    font-size: 4vw;
  }

  .text {
    font-size: 3.5vw;
  }
}