.container {
  padding-top: 20vh;
  width: 100%;
}

.innerContainer {
  margin-top: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: auto;
  position: relative;
}

.title {
  z-index: 1;
  transition: 1s;
  position: absolute;
  top: 0;
  display: inline-block;
  text-align: center;
  font-size: 5vw;
  transform: scaleY(0);
  overflow: hidden;
  width: 100%;
  padding: 0 16px 0 16px;
}

@media only screen and (max-width: 1300px) {
  .innerContainer {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 1024px) {
  .innerContainer {
    flex-flow: column wrap;
    align-items: center;
    margin-top: 0;
  }
}