.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.title {
  z-index: 1;
  transition: 1s;
  position: absolute;
  top: 0;
  display: inline-block;
  text-align: center;
  font-size: 5rem;
  transform: scaleY(0);
  overflow: hidden;
  max-height: 6rem; /* Font size + 1rem; */
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}
