.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.project {
  width: 20vw;
  padding-top: 1rem;
  min-height: auto;
  height: auto;
  margin-top: 40vh;
  cursor: pointer;
  position: relative;
  background-color: #202e38;
  border-radius: 4px;
}

.title {
  z-index: 1;
  transition: 1s;
  position: absolute;
  top: 0;
  display: inline-block;
  text-align: center;
  font-size: 5rem;
  transform: scaleY(0);
  overflow: hidden;
  max-height: 6rem; /* Font size + 1rem; */
  width: 100%;
}

.imageTitle {
  margin: 0 0 1rem 0;
  text-align: center;
  max-height: 1.5rem; /* Margin + 0.5rem; */
  overflow: hidden;
}

.description {
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .project {
    width: 100%;
    margin-top: 22vh;
    border-radius: 0;
  }
}
