.body {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;
}

.title {
  font-size: 10rem;
  margin: 0;
  padding-left: 16px;
}

.subtitle {
  font-size: 8rem;
  font-weight: 300;
  margin: 0;
  padding-left: 16px;
}

.smallSubtitle {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
  padding-left: 16px;
}

.sectionShadows {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: -30px 150px 90px -50px #000000 inset, 0px -35px 25px 10px #000000;
}

@media only screen and (max-width: 1024px) {
  .sectionShadows {
    box-shadow: 0 150px 90px -50px #000000 inset, 0px 0px 20px 20px #000000;
  }

  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 4rem;
  }

  .smallSubtitle {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .smallSubtitle {
    font-size: 1rem;
  }
}
