.body {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;
}

.imageBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.textBackground {
  position: absolute;
  height: 80%;
  width: 100%;
  transform: skewY(25deg);
  display: none;
  background-image: linear-gradient(45deg, #ff0099, rgba(0, 0, 0, 0.7), #6303B1);
}

.title, .subtitle, .smallSubtitle {
  margin: 0;
  padding-left: 16px;
  display: none;
}

.title {
  font-size: 8vw;
}

.subtitle {
  font-size: 6vw;
  font-weight: 300;
}

.smallSubtitle {
  font-size: 2.1vw;
  font-weight: 100;
}

.sectionShadows {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: -30px 150px 90px -50px #000000 inset, 0px -35px 25px 10px #000000;
}

@media only screen and (max-width: 1024px) {
  .sectionShadows {
    box-shadow: 0 150px 90px -50px #000000 inset, 0px 0px 20px 20px #000000;
  }
  
  .textBackground {
    height: 80%;
    transform: skewY(45deg);
  }
}

@media only screen and (max-width: 400px) {
  .smallSubtitle {
    font-size: 3.5vw;
  }
}