.body {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;
  padding: 16px;
  z-index: 2;
}

.title {
  font-size: 10rem;
  margin: 10vh 0 0 0;
}

.subtitle {
  font-size: 8rem;
  font-weight: 300;
  margin: 0;
}

.smallSubtitle {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 4rem;
  }

  .smallSubtitle {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .smallSubtitle {
    font-size: 1rem;
  }
}
