.body {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;
}

.topGradient {
  background: linear-gradient(to bottom, black 50%, transparent);
  display: block;
  position: absolute;
  height: 30%;
  width: 100%;
  top: 0;
}

.BottomGradient {
  background: linear-gradient(to top, black 50%, transparent);
  display: block;
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0;
}

.title {
  font-size: 10rem;
  margin: 0;
  padding-left: 16px;
}

.subtitle {
  font-size: 8rem;
  font-weight: 300;
  margin: 0;
  padding-left: 16px;
}

.smallSubtitle {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
  padding-left: 16px;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 4rem;
  }

  .smallSubtitle {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .smallSubtitle {
    font-size: 1rem;
  }
}
