.mainContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid red;
  min-height: 100vh;
  margin: 10vh 0 10vh 0;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid lightgreen;
  padding: 0;
  margin: 0;
}

.items {
  flex: 1 1 1rem;
  border: 1px solid white;
  margin: 8px;
  min-height: 100px;
  min-width: 100px;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.itemsTitle {
    min-height: fit-content;
    padding: 16px;
}

.itemsText {
  display: block;
  text-align: center;
  border: 1px solid goldenrod;
  margin: 7px;

}

@media only screen and (max-width: 1024px) {
  .container {
    width: 50%;
  }
}
