.mainContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

.elementsGroup1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.button {
  fill: rgb(255, 255, 255);
  width: 32px;
  transition: 0.5s;
  display: flex;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(66, 66, 66);
}

.button:active {
  background-color: rgb(252, 203, 67);
}
