.button {
    fill: rgb(255, 255, 255);
    width: 32px;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 16px 24px 0 0;
  }
  
  .button:hover {
    fill: #ff0000;
  }
  
  .button:active {
    background-color: rgb(252, 203, 67);
  }