.container {
  transition: 0.5s;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 32px;
}

.container:hover {
  background-color: rgb(66, 66, 66);
}

.container:active {
  background-color: rgb(252, 203, 67);
}

.button {
  fill: rgb(255, 255, 255);
}

.caption {
  text-align: center;
  margin: 0;
  font-size: 0.75rem;
}
