html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    z-index: 0;
    background-color: #000000;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

img {
  -webkit-user-drag: none;
}

.backgroundImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .backgroundImage {
    height: 50%;
  }
}